<div class="auth-page">
  <div class="min-vh-100 d-flex flex-column justify-content-center align-items-center mt-4">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body p-4">
          <h2 class="card-title text-center mt-8 fw-bold">Change your password</h2>
          <div>
            <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
              <%= f.error_notification %>

              <%= f.input :reset_password_token, as: :hidden %>
              <%= f.full_error :reset_password_token %>

              <div class="form-inputs">
                <%= f.input :password,
                            label: "New password",
                            required: true,
                            autofocus: true,
                            hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                            input_html: { autocomplete: "new-password", class: "form-control" } %>
                <%= f.input :password_confirmation,
                            label: "Confirm your new password",
                            required: true,
                            input_html: { autocomplete: "new-password", class: "form-control" } %>
              </div>

              <div class="form-actions button w-100">
                <%= f.button :submit, "Change my password", class: "fw-bold text-white" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<img src="https://res.cloudinary.com/dtyuldook/image/upload/v1748362566/HomeBG_mrqikg.png" class="home-bg" id="home-bg">
</div>
