<nav class="navbar navbar-dark-dark navbar-expand-lg fixed top" style= "background-color: rgba(8, 8, 8, 0.8);">
<div class="container_fluid">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "maz.png", height: 80 %>
  <% end %>

  <% if user_signed_in? %>
    <div class="dropdown ms-auto">
        <%= image_tag(
          current_user.avatar.attached? ?
          url_for(current_user.avatar.variant(resize_to_fill: [40, 40])) :
          asset_path("default-avatar.png"),
                    class: "rounded-circle dropdown-toggle",
                    id: "userDropdown",
                    data: { bs_toggle: "dropdown" },
                    style: "border: 2px solid rgba(255,255,255,0.3)"
                    ) %>

        <div class="dropdown-menu dropdown-menu-end">
          <%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </div>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "btn btn-outline-dark ms-auto" %>
    <% end %>
  </div>
</nav>

    </div>


  </div>


</div>

</nav>
